<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Edit User roles</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <table border="1px">
        <thead>
            <th>ID</th>
            <th>Username</th>
        </thead>
        <tbody>
            <tr th:each="client : ${clients}" th:object="${client}">
                <td th:text="*{id}"></td>
                <td th:text="*{username}"></td>
                <form action="/admin/add-role" method="post">
                    <input hidden name="clientId" th:value="${client.id}">
                    <td>
                        <select name="roleId">
                            <option th:each="role : ${roles}" th:object="${role}" th:value="*{id}" th:text="*{name}"></option>
                        </select>
                    </td>
                    <td>
                        <input type="submit">
                    </td>
                </form>
                <td th:each="role : *{roles}" th:object="${role}" th:text="*{name}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>