<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Devma security</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Devma Security authentication</h1>
<h1>Without DTO  branch</h1>
<form method="post" action="/login">
    <input type="text" name="username" placeholder="Username"> <br/>
    <input type="password" name="password" placeholder="Password"> <br/>
    <label for="remember-me">Remember me</label>
    <input type="checkbox" name="remember-me" id="remember-me"> <br/>
    <input type="submit">
</form>
</body>
</html>