<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Devma security</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Devma Security authentication</h1>
<h1>Without DTO  branch</h1>
<form method="post" action="/login" th:object="${client}">
    <input type="text" th:field="*{username}" placeholder="Username"> <br/>
    <input type="password" th:field="*{password}" placeholder="Password"> <br/>
    <input type="submit">
</form>
</body>
</html>